.progress1 {
    width: 2.694vw;
    height: 1.04vh;
    background-color: #ffd100;
    border-radius:9px;
    position: absolute;
    left: 17vw;
    top: 7.5vh;
}

.progress2 {
    width: 5.388vw;
    height: 1.04vh;
    background-color: #ffd100;
    border-radius:9px;
    position: absolute;
    left: 17vw;
    top: 7.5vh;
}

.progress3 {
    width: 8.082vw;
    height: 1.04vh;
    background-color: #ffd100;
    border-radius:9px;
    position: absolute;
    left: 17vw;
    top: 7.5vh;
}

.progress4 {
    width: 10.776vw;
    height: 1.04vh;
    background-color: #ffd100;
    border-radius:9px;
    position: absolute;
    left: 17vw;
    top: 7.5vh;
}

.progress5 {
    width: 13.47vw;
    height: 1.04vh;
    background-color: #ffd100;
    border-radius:9px;
    position: absolute;
    left: 17vw;
    top: 7.5vh;
}

.progress6 {
    width: 16.164vw;
    height: 1.04vh;
    background-color: #ffd100;
    border-radius:9px;
    position: absolute;
    left: 17vw;
    top: 7.5vh;
}

.progress7 {
    width: 18.858vw;
    height: 1.04vh;
    background-color: #ffd100;
    border-radius:9px;
    position: absolute;
    left: 17vw;
    top: 7.5vh;
}

.progress8 {
    width: 21.552vw;
    height: 1.04vh;
    background-color: #ffd100;
    border-radius:9px;
    position: absolute;
    left: 17vw;
    top: 7.5vh;
}

.progress9 {
    width: 24.246vw;
    height: 1.04vh;
    background-color: #ffd100;
    border-radius:9px;
    position: absolute;
    left: 17vw;
    top: 7.5vh;
}

.progress10 {
    width: 26.94vw;
    height: 1.04vh;
    background-color: #ffd100;
    border-radius:9px;
    position: absolute;
    left: 17vw;
    top: 7.5vh;
}

.progressBar {
    width: 26.94vw;
    height: 1.04vh;
    background-color: #b1bdc4;
    border-radius:9px;
    position: absolute;
    left: 17vw;
    top: 7.5vh;
}